@import "../_mixin"
@import "../_variables"


// 全体共通
html,body,div,ul,li,h1,h2,h3,h4,p,span
  margin: 0px
  padding: 0px

img
  max-width: 100%
  height: auto

li
  list-style: none

a
  text-decoration: none

.pc
  display: block
  @include sp
    display: none

.sp
  display: none
  @include pc
    display: block

