extends ../_layout
block init
  -
    const meta = {
      title: "Student Freepaper Forum",
      path: '../'
    }
    const page = {
      id: "about"
    }
block contents
  section.mainBox
    img(src="", alt="メインビジュアル")
  section.aboutBox
    .title STORY
    p.subTitle ━ SFFとは？
    p.sentence Student Freepaper Forum（通称SFF）は、フリーペーパーというメディアを軸に
      br
      | 学生と社会を繋ぐ交流拠点をつくることミッションとしています。
      br
      | 年に一度、フリーペーパー制作者や来場者等が交流を図れる
      br
      | 1000人規模のメインイベントを12月に開催してきました。
      br
      | 今年はSFF参加者される皆様が次へ繋がる、
      br
      | 刺激ある出会いを生む場でありたいと考えています。
      br
      br
      | 14年目を迎えた今年、私たちは交流拠点の先を目指します。
  section.aboutBox
    .title CONCEPT
    p.subTitle ━ メインイベントコンセプト”State Fair”
    p.sentence State Fair とは、
      br
      | アメリカ各州で農業や伝統、文化を盛り上げるために行われる年に一度のお祭りです。
      br
      | 本来は農産物の品評会を行う場でありましたが、時代の変化とともに、
      br
      | 移動する仮設遊園地が設置されるなど、娯楽としての要素が高くなっています。
      br
      br
      | SFFも発足当初は『学生フリーペーパーを文化に』という理念のもと、
      br
      | 学生フリーペーパーのコンテストとして開催されていました。
      br
      | この14年で、学生フリーペーパーの交流イベント（お祭り）へと変化してきました。
      br
      | ＂学生フリーペーパーをSFFを通してもっと盛り上げていきたい。＂
      br
      br
      | SFF2019はState Fairのように、学生フリーペーパーコンテストを復活させ、
      br
      | また各地でのミニイベントの開催を予定しています。
  section.aboutSubBox
    p.subTitle ━ メインイベントコンセプト”State Fair”
    .aboutCptBox
      .imgBox
        img(src="../images/dummy.png", alt="")
      .txtBox
        p.cptTitle コンセプト
        p.sentence ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ

