extends ../_layout
block init
  -
    const meta = {
      title: "Student Freepaper Forum About",
      path: '../'
    }
    const page = {
      id: "about"
    }
block contents
  section.mainChildBox
    .aboutTitle
      img(src=`${path}/images/menu-icon-2.svg`, alt="")
  section#aboutSff.aboutBox
    .title STORY
    p.subTitle SFFとは？
    p.sentence Student Freepaper Forum（通称SFF）は、
      br.sp
      | フリーペーパーというメディアを軸に
      br
      | 学生と社会を繋ぐ交流拠点をつくることを
      br.sp
      | ミッションとしています。
      br
      br.sp
      | 年に一度、フリーペーパー制作者や
      br.sp
      | 来場者等が交流を図れる
      br
      | 1000人規模のメインイベントを
      br.sp
      | 12月に開催してきました。
      br
      | 今年はSFF参加者される皆様が次へ繋がる、
      br
      | 刺激ある出会いを生む場でありたいと
      br.sp
      | 考えています。
      br
      br
      | 14年目を迎えた今年、
      br.sp
      | 私たちは交流拠点の先を目指します。
  section#aboutCpt.aboutBox
    .title CONCEPT
    p.subTitle メインイベントコンセプト”State Fair”
    p.sentence State Fair とは、
      br
      | アメリカ各州で農業や伝統、文化を盛り上げるために行われる年に一度のお祭りです。
      br
      | 本来は農産物の品評会を行う場でありましたが、時代の変化とともに、
      br
      | 移動する仮設遊園地が設置されるなど、
      br.sp
      | 娯楽としての要素が高くなっています。
      br
      br
      | SFFも発足当初は
      br.sp
      | 『学生フリーペーパーを文化に』
      br.sp
      | という理念のもと、
      br
      | 学生フリーペーパーのコンテストとして
      br.sp
      | 開催されていました。
      br
      | この14年で、学生フリーペーパーの
      br.sp
      | 交流イベント（お祭り）へと
      br.sp
      | 変化してきました。
      br
      | ＂学生フリーペーパーをSFFを通して
      br.sp
      | もっと盛り上げていきたい＂
      br
      br
      | SFF2019はState Fairのように、
      br.sp
      | 学生フリーペーパーコンテストを復活させ、
      br
      | ネクストレベルへのステップアップを目指しています。
  section#aboutVis.aboutSubBox
    p.subTitle メインイベントコンセプト”State Fair”
    .aboutCptBox
      .imgBox
        img(src="../images/sff2019_main_re_pc.png", alt="sff2019_main_re_pc").lazyload
      .txtBox
        p.cptTitle 今年のテーマは”NEO SFF”
        p.sentence 「今年のSFFはひと味違う」。令和元年、14年目を迎えたSFFは、夏のミニイベントの開催や5年ぶりのコンテスト復活など、原点回帰と新奇性をテーマに活動してきました。復活と新しさ、2つの意味をもつ“ネオ(NEO)“。今年のメインビジュアルは、そんな私たちのネオなマインドと、イベントのワクワク感を、ネオン管で表現しています。方眼紙を敷いたような背景には、紙への愛を込めました。

