extends ../_layout
block init
  -
    const meta = {
      title: "Student Freepaper Forum",
      path: '../'
    }
    const page = {
      id: "event"
    }
block contents
  section.mainChildBox
    .mainTitle
  section.eventBox
    .title EVENT
    p.subTitle ━ 学生出展媒体一覧
    .eventImgBox
      .eventImgInner
        .imgBox
          img(src="../images/2_ariozo.jpg", alt="2_ariozo")
        .imgTitle アリオーゾ
      .eventImgInner
        .imgBox
          img(src="../images/8_backpacker.jpg", alt="8_backpacker")
        .imgTitle BACKPACKER
      .eventImgInner
        .imgBox
          img(src="../images/9_fastner.jpg", alt="9_fastner")
        .imgTitle FASTNER
      .eventImgInner
        .imgBox
          img(src="../images/12_each.jpeg", alt="12_each")
        .imgTitle each
      .eventImgInner
        .imgBox
          img(src="../images/24_mix.jpg", alt="24_mix")
        .imgTitle MIX
      .eventImgInner
        .imgBox
          img(src="../images/26_tabiizyo.jpg", alt="26_tabiizyo")
        .imgTitle たびぃじょ
      .eventImgInner
        .imgBox
          img(src="../images/27_kuuls.jpg", alt="27_kuuls")
        .imgTitle KUULS
      .eventImgInner
        .imgBox
          img(src="../images/31_gift.jpg", alt="31_gift")
        .imgTitle GIFT
      .eventImgInner
        .imgBox
          img(src="../images/32_croquis.jpg", alt="32_croquis")
        .imgTitle croquis
      .eventImgInner
        .imgBox
          img(src="../images/43_raw.jpg", alt="43_raw")
        .imgTitle RAW
      .eventImgInner
        .imgBox
          img(src="../images/47_seel.jpg", alt="47_seel")
        .imgTitle Seel
  section.eventBox
    .title TIMETABLE
    p.subTitle ━  当日の流れ
    p.limited comming soon
  section.eventBox
    .title WORKSHOP
    p.subTitle ━  体験しよう！
    p.limited comming soon
  section.eventBox
    .title ACCESS
    p.subTitle ━ 会場詳細
    dl.eventInfo
      dt.eventInfoTitle 開催日時 :&nbsp;
      dd.eventInfoDiscription 2019年12月8日(日) 入場無料
      dt.eventInfoTitle 開催場所 :&nbsp;
      dd.eventInfoDiscription テラススクエア 東京都千代田区神田錦町3丁目22番地
    #map