extends _layout
block init
  -
    const meta = {
      title: "Student Freepaper Forum"
    }
    const page = {
      id: "home"
    }
block contents
  section.mainBox
  section.homeBox
    h3.subTitle 私たちの活動を見る
    ul.ourSnsBox
      li.ourSnsBoxInner
        a(href="https://www.facebook.com/sff.web/").faceBook
      li.ourSnsBoxInner
        a(href="https://twitter.com/SFF__2019").twitter
      li.ourSnsBoxInner
        a(href="https://www.instagram.com/sff2019.event/").instaGram
      li.ourSnsBoxInner
        a(href="https://partner-web.jp/writer/?id=103").partner
  section.homeBox
    .flexBox
      .imageBox.logo.pc
        .imageInner
          img(src="./images/dummy.png", alt="wid")
        .imageInner
          img(src="./images/limited-logo.jpg", alt="min")
      .txtBox
        h3.title.min OUR CONCEPT
        p.bigTxt 今年のテーマは「Neo SFF」
        .imageBox.logo.sp
          .imageInner
            img(src="./images/dummy.png", alt="wid")
          .imageInner
            img(src="./images/limited-logo.jpg", alt="min")
        p.sentence 「Neo」という言葉には、ギリシャ語では「新しい」、
          br.pc
          | 英語では「復活」という意味があリます。SFFが培ってきた
          br.pc
          | 14年の歴史を、さらに受け継いでいくための新しさ、そして、
          br.pc
          | 新しさを生み出すための原点回帰を目指します。
        .minBtn
          a(href="./about/") MORE
            span.arrow
              span.arrowInner
              span.arrowInner
  section.homeBox
    .flexBox
      .imageBox.event.pc
        .imageInner
          img(src="./images/dummy-02.jpg", alt="wid")
        .imageInner
          img(src="./images/dummy-03.jpg", alt="min")
      .txtBox
        h3.title.min EVENT
        p.bigTxt イベントコンセプトは「State Fair」
        .imageBox.event.sp
          .imageInner
            img(src="./images/dummy-02.jpg", alt="wid")
          .imageInner
            img(src="./images/dummy-03.jpg", alt="min")
        p.sentence State Fairとは、アメリカ各州で農業や伝統、文化を盛り上げる
          br.pc
          | ために行われる年に一度のお祭りです。本来は農産物の品評会を
          br.pc
          | 行う場でありましたが、時代の変化とともに、娯楽としての要素
          br.pc
          | が強まっていきました。
        .minBtn
          a(href="./event/") MORE
            span.arrow
              span.arrowInner
              span.arrowInner
  section#tn.homeBox
    h3.title.larg TOPICS & NEWS
    p.subTitle SFFに関する最新の情報を更新していきます。
      .tnBox
        article
          .date 2019. 9. 1 (日)
          .desc 真夏のSFF2019
        //- article.tnBox
        //-   .date 2019.11.3〜4 (日)
        //-   .desc ICU祭
        article
          .date 2019. 12. 8 (日)
          .desc Student Freepaper Forum2019
  section.homeBox.slide
    h3.title.larg CONTEST
    p.subTitle ー 2019年、参加団体一覧
    .sliderBox
      .sliderBoxInner
        .sliderImgBox
          img(src="./images/2_ariozo.jpg", alt="2_ariozo")
        .sliderImgBox
          img(src="./images/8_backpacker.jpg", alt="8_backpacker")
        .sliderImgBox
          img(src="./images/9_fastner.jpg", alt="9_fastner")
        .sliderImgBox
          img(src="./images/12_each.jpeg", alt="12_each")
        .sliderImgBox
          img(src="./images/24_mix.jpg", alt="24_mix")
        .sliderImgBox
          img(src="./images/26_tabiizyo.jpg", alt="26_tabiizyo")
        .sliderImgBox
          img(src="./images/27_kuuls.jpg", alt="27_kuuls")
        .sliderImgBox
          img(src="./images/31_gift.jpg", alt="31_gift")
        .sliderImgBox
          img(src="./images/32_croquis.jpg", alt="32_croquis")
        .sliderImgBox
          img(src="./images/43_raw.jpg", alt="43_raw")
        .sliderImgBox
          img(src="./images/47_seel.jpg", alt="47_seel")
    .sentence.center SFF2019では
      br.sp
      | 昨年までのアワード形式を一転し、
      br
      | コンテスト形式を復活させることにしました。
      br.pc
      | 今回のコンテストは、
      br.sp
      | プロの目線から評価とフィードバックを
      br
      | 受けることができるとともに、
      br.sp
      | 作り手側の想いや熱量を
      br
      | プレゼンを通じてアピールできる
      br.sp
      | 場となっております。
    .minBtn.middle
      a(href="./contest/") MORE
        span.arrow
          span.arrowInner
          span.arrowInner
  section.homeBox
    h3.title.larg BLOG
    .widBtn
      a(href="https://partner-web.jp/writer/?id=103") 最新の記事を見る
        span.arrow
          span.arrowInner
          span.arrowInner
  section.homeBox
    h3.title.larg CONTACT
    .widBtn
      a(href="https://forms.gle/pWooQHANxXuTR5867") お問い合わせ
        span.arrow
          span.arrowInner
          span.arrowInner
