extends _layout.pug
block init
  -
    const meta = {
      title: "Student Freepaper Forum"
    }
    const page = {
      id: "home"
    }
block contents
  section.itemBox
    .flexBox
      .imageBox.logo
        .imageInner
          img(src="./images/dummy.png", alt="wid")
        .imageInner
          img(src="./images/limited-logo.jpg", alt="min")
      .txtBox
        h3.title.min OUR CONCEPT
        p.bigTxt 今年のテーマは「Neo SFF」
        p.sentence 「Neo」という言葉には、ギリシャ語では「新しい」、
          br
          | 英語では「復活」という意味があリます。SFFが培ってきた
          br
          | 14年の歴史を、さらに受け継いでいくための新しさ、そして、
          br
          | 新しさを生み出すための原点回帰を目指します。

        .minBtn
          a(href="") MORE
            span.arrow
              span.arrowInner
              span.arrowInner
  section.itemBox
    .flexBox
      .imageBox.event
        .imageInner
          img(src="./images/dummy-02.jpg", alt="wid")
        .imageInner
          img(src="./images/dummy-03.jpg", alt="min")
      .txtBox
        h3.title.min EVENT
        p.bigTxt イベントコンセプトは「State Fair」
        p.sentence State Fairとは、アメリカ各州で農業や伝統、文化を盛り上げる
          br
          | ために行われる年に一度のお祭りです。本来は農産物の品評会を
          br
          | 行う場でありましたが、時代の変化とともに、娯楽としての要素
          br
          | が強まっていきました。
        .minBtn
          a(href="") MORE
            span.arrow
              span.arrowInner
              span.arrowInner
  section.itemBox
    h3.title.larg TOPICS & NEWS
    p.subTitle SFFに関する最新の情報を更新していきます。
      .tnBox
        article
          .date 2019. 9. 1 (日)
          .desc 真夏のSFF2019
        //- article.tnBox
        //-   .date 2019.11.3〜4 (日)
        //-   .desc ICU祭
        article
          .date 2019. 12. 8 (日)
          .desc Student Freepaper Forum2019
  section.itemBox
    h3.title.larg CONTEST
    p.subTitle ー 2019年、参加団体一覧
    .sliderBox
    .sentence.center SFF2019では昨年までのアワード形式を一転し、
      br
      | コンテスト形式を復活させることにしました。
      br
      | 今回のコンテストは、プロの目線から評価とフィードバックを
      br
      | 受けることができるとともに、作り手側の想いや熱量を
      br
      | プレゼンを通じてアピールできる場となっております。
    .minBtn.middle
      a(href="") MORE
        span.arrow
          span.arrowInner
          span.arrowInner
  section.itemBox
    h3.title.larg BLOG
    p.subTitle ー テキストテキストテキストテキストテキスト
    .widBtn
      a(href="") MORE
        span.arrow
          span.arrowInner
          span.arrowInner
  section.itemBox
    h3.title.larg CONTACT
    p.subTitle ー テキストテキストテキストテキストテキスト
    .widBtn
      a(href="") MORE
        span.arrow
          span.arrowInner
          span.arrowInner
