footer.gFooter
  ul.gContent
    li.gContentInner
      p.contentTitle ABOUT
      .contentDetail
        a(href="")
          span.childArrow ▶︎
          | sffとは
        a(href="")
          span.childArrow ▶︎
          | コンセプト
        a(href="")
          span.childArrow ▶︎
          | ビジュアルについて
    li.gContentInner
      p.contentTitle EVENT
      .contentDetail
        a(href="")
          span.childArrow ▶︎
          | 詳細
        a(href="")
          span.childArrow ▶︎
          | コンセプト
    li.gContentInner
      p.contentTitle TOPICS & NEWS
      .contentDetail
        a(href="")
          span.childArrow ▶︎
          | 最新ニュース
    li.gContentInner
      p.contentTitle CONTEST
      .contentDetail
        a(href="")
          span.childArrow ▶︎
          | スケジュール
        a(href="")
          span.childArrow ▶︎
          | 審査基準
        a(href="")
          span.childArrow ▶︎
          | 審査員
        a(href="")
          span.childArrow ▶︎
          | 参加団体の皆さまへ
        a(href="")
          span.childArrow ▶︎
          | 当日イベントについてのご案内
    li.gContentInner
      p.contentTitle CONTEST
      .contentDetail
        a(href="")
          span.childArrow ▶︎
          | 応募団体一覧
    li.gContentInner
      p.contentTitle CONTEST
      .contentDetail
        a(href="https://forms.gle/pWooQHANxXuTR5867")
          span.childArrow ▶︎
          | お問い合わせ
  .gOtherBOX
  ul.gOtherList
    li.gOtherInner
      a(href="")
        img(src="", alt="facebook")
    li.gOtherInner
      a(href="")
        img(src="", alt="twitter")
    li.gOtherInner
      a(href="")
        img(src="", alt="instagram")
    li.gOtherInner
      a(href="")
        img(src="", alt="pretner")
  .gOtherContact
    a(href="https://forms.gle/pWooQHANxXuTR5867") お問い合わせ
