footer.gFooter
  .contentBox
    h3.footerTitle CONTENTS
    ul.gContent
      li.gContentInner
        p.contentTitle ABOUT
        .contentDetail
          a(href="")
            span.childArrow ▶︎
            span.childTxt sffとは
          a(href="")
            span.childArrow ▶︎
            span.childTxt コンセプト
          a(href="")
            span.childArrow ▶︎
            span.childTxt ビジュアルについて
      li.gContentInner
        p.contentTitle EVENT
        .contentDetail
          a(href="")
            span.childArrow ▶︎
            span.childTxt 詳細
          a(href="")
            span.childArrow ▶︎
            span.childTxt コンセプト
      li.gContentInner
        p.contentTitle TOPICS & NEWS
        .contentDetail
          a(href="")
            span.childArrow ▶︎
            span.childTxt 最新ニュース
      li.gContentInner
        p.contentTitle CONTEST
        .contentDetail
          a(href="")
            span.childArrow ▶︎
            span.childTxt スケジュール
          a(href="")
            span.childArrow ▶︎
            span.childTxt 審査基準
          a(href="")
            span.childArrow ▶︎
            span.childTxt 審査員
          a(href="")
            span.childArrow ▶︎
            span.childTxt 参加団体の皆さまへ
          a(href="")
            span.childArrow ▶︎
            span.childTxt 当日イベントについてのご案内
      li.gContentInner
        p.contentTitle CONTEST
        .contentDetail
          a(href="")
            span.childArrow ▶︎
            span.childTxt 応募団体一覧
      li.gContentInner
        p.contentTitle CONTEST
        .contentDetail
          a(href="https://forms.gle/pWooQHANxXuTR5867")
            span.childArrow ▶︎
            span.childTxt お問い合わせ
  .otherBox
    h3.footerTitle OTHER
    ul.gOtherList
      li.gOtherInner
        a(href="").faceBook
      li.gOtherInner
        a(href="").twitter
      li.gOtherInner
        a(href="").instaGram
      li.gOtherInner
        a(href="").partner
    .gOtherContact
      a(href="https://forms.gle/pWooQHANxXuTR5867") お問い合わせフォーム
