header.gHeader
  ul.gNav
    li.gNavInner
      a(href="").top
    li.gNavInner
      a(href="").about
    li.gNavInner
      a(href="").event
    li.gNavInner
      a(href="").tn
    li.gNavInner
      a(href="").contest
    li.gNavInner
      a(href="").blog
    li.gNavInner
      a(href="https://forms.gle/pWooQHANxXuTR5867" target="_blank").contact
  ul.gOther
    li.gOtherInner
      p.followMe Follow - us
      hr.gBorder
    li.gNavInner
      a(href="").faceBook
    li.gNavInner
      a(href="").twitter
    li.gNavInner
      a(href="").instaGram
    li.gNavInner
      a(href="").partner