header.gHeader
  ul.gNav
    li.gNavInner
      a(href="") TOP
    li.gNavInner
      a(href="") ABOUT
    li.gNavInner
      a(href="") EVENT
    li.gNavInner
      a(href="") TOPICS&NEWS
    li.gNavInner
      a(href="") CONTEST
    li.gNavInner
      a(href="") BLOG
    li.gNavInner
      a(href="https://forms.gle/pWooQHANxXuTR5867") CONTACT
  ul.gOther
    li.gOtherInner
      p.followMe Follow-us
      span.gBorder -
    li.gNavInner
      a(href="")
        img(src="", alt="facebook")
    li.gNavInner
      a(href="")
        img(src="", alt="twitter")
    li.gNavInner
      a(href="")
        img(src="", alt="instagram")
    li.gNavInner
      a(href="")
        img(src="", alt="pretner")