header.gHeader
  ul.gNav
    li.gNavInner
      a(href="").top.visible
    li.gNavInner
      a(href="").about.visible
    li.gNavInner
      a(href="").event.visible
    li.gNavInner
      a(href="").tn.visible
    li.gNavInner
      a(href="").contest.visible
    li.gNavInner
      a(href="").blog.visible
    li.gNavInner
      a(href="https://forms.gle/pWooQHANxXuTR5867" target="_blank").contact.visible
  ul.gOther
    li.gOtherInner
      p.followMe Follow - us
      hr.gBorder
    li.gNavInner
      a(href="").faceBook
    li.gNavInner
      a(href="").twitter
    li.gNavInner
      a(href="").instaGram
    li.gNavInner
      a(href="").partner
  .hamBackMove